
.work-sans-fonts{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex{
  display: flex; 
}

.text-primary{
  color: #FF900E;
}
.section-title{
  font-size:2.8rem;
  font-weight: 500;
 }

/* dark-2 */
.text-gray{
color:#424242 ;
}
/* dark03 */
.text-light-gray{
color: #727272;
}
.bg-light{
  background-color:rgba(255, 144, 14, 0.3)  ;
}
/* header style */

/* navber style */

.navbar{
justify-content: space-between;
align-items: center;
}
.brand{
  font-weight:700;
  font-size:0.9rem
}
.nav-item{
  list-style: none;
    margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
}
nav, .banner{
  max-width:1440px;
  margin: 0 auto;
}
.btn-primary{
background-color: #FF900E ;
color:white ;
padding: 20px 25px;
font-size:1.1rem ;
border-radius: 8px;
border: none;
}
 main{
  max-width: 1440px;
  margin:  0 auto;
 }
 main> section{
  margin-top: 130px;
  
 }
/* banner  */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom:50px;
}
.banner-title{
  font-size:4rem;
  font-weight: 700;
}
.banner-imge{
  width: 100%;
}
/* team features */
.teams{
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:24px ;
}
.Our-features{
  max-width:530px ;
margin-left: 120px;
}

#quick-list{
  font-weight: 500;
}
/* Some Facts style*/
/* featurese */

.fact-container{
display:grid;
grid-template-columns: repeat(4,1fr);

}
.fact-card{
  border: 1px solid #FF900E ;
  height: 240px;
  width: 240px; 
  align-items: center;
  justify-content: center;
text-align: center; 
}
.fact-number{
 
  font-size:2.8rem;
font-weight: 600;
margin-top: 5px ;
margin-bottom: 10px;
}
.fact-name{
font-size: 1.25rem;
font-weight: 600;
margin-top: 10px;
}
.fact-desription{
max-width: 540px;
}
/* sponsor style */

.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-conpanies{
  display: grid;
  grid-template-columns:repeat(5,1fr);
} 
.sponsor-conpanies img{
  filter: grayscale(100%);
}

/* featutres */
.feature-section-title{
border:5px solid #FF900E ;
padding-left:20px;
}
.feature-card{
  border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(161, 161, 161, 1);
    margin-bottom: 20px;
}
.featurese{
  gap: 100px;
}

.feature-card>.feature-tiele{
  font-size: 1.5rem;
  font-weight: 600;
margin-top: 0px;
margin-bottom: 0px;
}
#experiernce-badge{
  font-size: 1.5rem;
  padding: 42px 42px;
  font-weight:700;  
  margin-left: -100px;
  margin-top: -100px;
}
.year-experiernce{
  font-size:3.5rem;
  font-weight:700;
}
.feature-architect img{
 min-width: 100%;
}
/* footer style */
.footer-text{
  max-width: 1440px;
background-color:rgba(246, 246, 246, 0.958)   ;
padding: 38px 38px;
margin: 130px auto;
}
.all-right{
  text-align: center;
font-size: 20px;
font-weight: 300;
}
/* responsive @madia   */
@media screen and (max-width:576px) {
  .navbar,
   .nav-link,
   .teams,
   .featurese
   {
 flex-direction: column;
  }
  .team-img-container ,
  .fact-container,
   .sponsor-conpanies
   {
    grid-template-columns:1fr;
  }

  .fact-container {
     justify-items: center;
     gap: 24px;
  }
  .sponsor-conpanies{
    justify-items:center;
    gap: 50px;
  }
  .Our-features{
    margin-left:20px;
  }
  #experiernce-badge{
    margin-top: 20px;
    margin-left: 20px;
  }
  .fact-container {
    justify-items:center;
    gap: 50px;
  }
}

/* mide device */
@media screen and(min-width:576px )and  (max-width:992px){
  .teams,.featurese{
    flex-direction: column;
  }
.Our-features{
  margin:  50px auto;
}
.sponsor-conpanies,
.fact-container{
  grid-template-columns: repeat(2,1fr);
  gap: 50px;
  justify-items: center;
}
#experiernce-badge{
  margin-top: 20px;
  margin-left: 20px;
}
}

